
:root {
  --programme_header_blue: #0066ff;
  --programme_line_grey:#c8c8c8;
}

body {
  padding-top: 108px;
  font-family: Lora, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.jumbotron {
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Geneve_2005_001_Ork.ch.jpg');
  height: 450px;
  background-size: cover;
  color:white;
  border-radius:0px;
}

.btn-jumbo {
  padding-top: 30px;
}

.jumbotron h1 {
  padding-top: 75px;
  font-weight: bold;
  font-size: 60px;
}

.programme_style h3 {
  text-transform: uppercase;
  text-align: center;
  color: var(--programme_header_blue);
  margin-bottom: 2rem;
  font-weight: bold;
}

.programme_style h2 {
  text-transform: uppercase;
}

.programme_style hr {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  border-top: 1px solid var(--programme_line_grey);
}
