.jumbotron.jumbotron-fluid {
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Geneve_2005_001_Ork.ch.jpg');
  height: 500px;
  background-size: cover;
}


/*header[role="banner"] {
  #banner-main{
    display: block;
    margin-top: 20px;
  }
}
.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.button{
margin-top : 25px;
}

.nav li {
  display: inline;
}
#qsn{
  margin-top: 50px;

}
.jumbotron{
  margin-bottom: 30px;
}

#banner-main {
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Geneve_2005_001_Ork.ch.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
display:  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 20px;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  margin-left: 30px;
}
.jumbotron a {
  margin-left: 30px;
}


.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.membres img {
  position: relative;
      width:  250px;
      height: 300px;
      background-position: 50% 50%;
      background-repeat:   no-repeat;
      background-size:     cover;
}
.membres figure {
      margin-bottom: 75px;
}

hr{
  margin-top: 0px;
	border-top: 2px solid ;
  size:5px;
}*/
