.jumbotron {
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Geneve_2005_001_Ork.ch.jpg');
  height: 400px;
  width: 100%;
  background-size: cover;
  color:white;
  margin:0;
}

.jumbotron h1 {
padding-top:5%;
padding-left:4.5 %;
}

.btn-jumbo {
  padding-top: 5%;
  padding-left: 5%;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

btn-primary btn-lg {
  span{
    opacity: 1;
  }
}


.display-4 {
  font-weight: bold;
}
.lead {
  padding-bottom: 10px;
}
