<!DOCTYPE html>
<html lang="fr-CH">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <title>DAL - Défense des ainé-e-s, des locataires, de l'emploi et du social</title>
  <meta name="description" content="Une association dont tous-tes les membres sont engagés-es sur le terrain social.
  Ici l'un d'entre nous est vice-président du comité des aînés d'UNIA, là encore, une Daliste siège à l'IMAD ou représente Ensemble à Gauche à la Fondation pour l'accueil et l'hébergement des personnes âgées. Nous sommes plusieurs à faire partie de l'ASLOCA, l'une d'entre nous siège au conseil d'administration d'une grande fondation immobilière subventionnée par l'Etat et Christian Grobet a participé à la fondation du DAL. Sur le front de l'emploi, l'une de nos membres travaille dans une association qui défend l'emploi et lutte contre le chômage et nous sommes presque tous et toutes syndiqués-es ici à UNIA, à la SPG ou là encore au SIT (comité).">
  <meta name="keywords" content="DAL, Ensemble à Gauche,Ainés,Locataires,Protection locataires,Genève,Parti politique gauche Genève,Social Genève, Christian Zaugg">
</head>

<body>

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logo/DAL.png" width="135" height="82" alt="DAL - Défense des ainé-e-s, des locataires, de l'emploi et du social">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="/">Accueil</a>
          <a class="nav-item nav-link" href="/membres/">Membres</a>
          <a class="nav-item nav-link" href="/activites/">Activités</a>
          <a class="nav-item nav-link" href="/contact/">Contact</a>
        </div>
      </div>
    </nav>
  </header>
