<!DOCTYPE html>
<html lang="fr">
<head>
  <title>DAL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/main.css">

  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <style media="screen">
    h1, h2, h3, h4 {
      font-family: Quicksand, serif;
    }
  </style>
  <link href="narrow-jumbotron.css" rel="stylesheet">
</head>
<body class="mb-5">
  <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img alt="DAL logo" src="img/logo/DAL_logo.svg" width="25%" >
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <div class="collapse navbar-collapse" id="navbarToggler" aria-expanded="false">
        <ul class="ml-auto mt-2 mt-md-0 navbar-nav">
          <li class="nav-item"><a href="/" class="nav-link">Accueil</a></li>
          <li class="nav-item"><a href="/membres" class="nav-link">Membres</a></li>
          <li class="nav-item"><a href="/activites" class="nav-link">Activités</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </div>
  </nav>
